* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  height: 100vh;
}

.conteiner {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  margin: auto;
  padding: auto;
  justify-content: start;
  align-items: center;


}

.btn {
  margin: 8px;
  background-color: green;
  border-radius: 4px;
  box-shadow: none;
  color: white;
}

.number {
  font-size: 36px;
  margin: auto;
  font-weight: 900;

}